<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">

                <!-- S:Web Component Tabs -->
                <yk-tabs title-tabs="Judul Tabs 1">
                    <yk-tabs-content title-content="Tabs 1">
                        <!-- Area Content -->
                        <p>Content Tabs 1</p>
                    </yk-tabs-content>
                    <yk-tabs-content title-content="Tabs 2">
                        <!-- Area Content -->
                        <p>Content Tabs 2</p>
                    </yk-tabs-content>
                    <yk-tabs-content title-content="Tabs 3">
                        <!-- Area Content -->
                        <p>Content Tabs 3</p>
                    </yk-tabs-content>
                </yk-tabs>
                <!-- E:Web Component Tabs -->

            </div>

        </div>
    </div>
</div>
